
:root{
    --color-black : #1F1F1F ;
    --color-black-lite : #1D2939 ; 
    --color-green : #027A48 ;
    --color-red : #F04438 ;
    --border : 0.9px solid #EAECF0 ; 
}
.searchrow-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    background: white;
    border: var(--border);
    border-radius: 6px;
    padding: 0.5rem 1.2rem;
}